fastapi==0.88.0
uvicorn==0.20.0
aerich==0.7.1
asyncpg==0.27.0
bcrypt==4.0.1
passlib==1.7.4
python-jose==3.3.0
python-multipart==0.0.5

pytest==6.2.5
itsdangerous==2.0.1
celery==5.2.3
redis==4.6.0
tensorflow_hub==0.14.0
tensorflow==2.13.0
